In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_train = pd.read_csv('train.csv')

In [3]:
df_train

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [4]:
df_test = pd.read_csv('test.csv')

In [5]:
df_test

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [6]:
df_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
df_train.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [8]:
df_test.isna().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [9]:
df_train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [10]:
df_train['Item_Weight'].describe()

count    7060.000000
mean       12.857645
std         4.643456
min         4.555000
25%         8.773750
50%        12.600000
75%        16.850000
max        21.350000
Name: Item_Weight, dtype: float64

In [11]:
df_train['Item_Weight'].fillna(df_train['Item_Weight'].mean(),inplace=True)

In [12]:
df_test['Item_Weight'].fillna(df_test['Item_Weight'].mean(),inplace=True)

In [13]:
df_train['Item_Weight'].describe()

count    8523.000000
mean       12.857645
std         4.226124
min         4.555000
25%         9.310000
50%        12.857645
75%        16.000000
max        21.350000
Name: Item_Weight, dtype: float64

In [14]:
df_train['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [15]:
df_train['Outlet_Size'].fillna(df_train['Outlet_Size'].mode()[0],inplace = True)

In [16]:
df_test['Outlet_Size'].fillna(df_test['Outlet_Size'].mode()[0],inplace = True)

In [17]:
df_train.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [18]:
df_test.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [19]:
#EDA

In [20]:
pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\dell\anaconda3\lib\site-packages (3.4.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (1.10.2)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (0.13.2)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (1.21.5)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: missingno<0.6,>=0.4.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (0.5.1)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (0.12.2)
Requirement already satisfied: scipy<1.10,>=1.4.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (1.7.3)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (1.4.2)
Requirement already satisfied: multimethod<1.10,>=1.4 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (1.9)
Requirement already satisfied: matplotlib<3.6,>=3.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (3.5.1)
Requirement already satisfied: requests<2.29,>=2.24.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (2.27.1)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (4.64.0)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (6.0)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (0.7.5)
Requirement already satisfied: networkx>=2.4 in c:\users\dell\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (2.7.1)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in c:\users\dell\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (0.2.0)
Requirement already satisfied: attrs>=19.3.0 in c:\users\dell\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (21.4.0)
Requirement already satisfied: imagehash in c:\users\dell\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (4.3.1)
Requirement already satisfied: Pillow in c:\users\dell\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (9.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\dell\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->pandas-profiling) (2.0.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas!=1.4.0,<1.6,>1.1->pandas-profiling) (2021.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\dell\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->pandas-profiling) (1.1.0)
Requirement already satisfied: typing-extensions>=4.1.0 in c:\users\dell\anaconda3\lib\site-packages (from pydantic<1.11,>=1.8.1->pandas-profiling) (4.1.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib<3.6,>=3.2->pandas-profiling) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2.0.4)
Requirement already satisfied: patsy>=0.5.2 in c:\users\dell\anaconda3\lib\site-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling) (0.5.2)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from tqdm<4.65,>=4.48.2->pandas-profiling) (0.4.4)
Requirement already satisfied: PyWavelets in c:\users\dell\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling) (1.3.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
from pandas_profiling import ProfileReport

In [22]:
profile = ProfileReport(df,title = "Pandas Profiling Report")

NameError: name 'df' is not defined

In [ ]:
profile

In [ ]:
sns.heatmap(df_train.corr(),annot = True)
plt.show()

# Preprocessing

In [ ]:
#Label Encoding

In [25]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [26]:
df_train = df_train.apply(le.fit_transform)

In [27]:
df_train

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,156,284,1,664,4,5592,9,4,1,0,1,2540
1,8,57,2,880,14,473,3,8,1,2,2,422
2,662,376,1,715,10,2901,9,4,1,0,1,1639
3,1121,393,2,0,6,4227,0,3,1,2,0,670
4,1297,265,1,0,9,627,1,1,0,2,1,865
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,370,125,1,3912,13,4955,1,1,0,2,1,2047
8519,897,233,2,3278,0,2023,7,5,1,1,1,516
8520,1357,299,1,2302,8,1263,6,6,2,1,1,1018
8521,681,149,2,7175,13,1857,3,8,1,2,2,1466
8522,50,347,1,3108,14,1011,8,2,2,0,1,697

In [28]:
df_test = df_test.apply(le.fit_transform)

In [29]:
df_test

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,1103,404,1,66,13,1460,9,4,1,0,1
1,1067,223,4,1714,4,965,2,7,1,1,1
2,1406,338,1,4042,11,4076,0,3,1,2,0
3,809,156,1,388,13,2522,2,7,1,1,1
4,1184,319,2,4423,4,3972,5,0,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...
5676,231,293,2,290,13,2164,8,2,2,0,1
5677,306,178,2,4815,15,2833,3,8,1,2,2
5678,1412,288,1,3256,8,1752,7,5,1,1,1
5679,517,349,2,0,3,3691,2,7,1,1,1
5680,987,283,2,4164,3,806,7,5,1,1,1

In [30]:
#spliting our data into train and test

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
x = df_train.drop('Item_Outlet_Sales',axis=1)

In [33]:
y = df_train['Item_Outlet_Sales']

In [34]:
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state = 101,test_size=0.2)

In [35]:
#standardisation

In [36]:
from sklearn.preprocessing import StandardScaler

In [37]:
sc = StandardScaler()

In [38]:
x_train_std = sc.fit_transform(x_train)

In [39]:
x_train_std

array([[ 0.59264645,  1.00439018, -0.57382672, ..., -1.95699503,
         1.08786619, -0.25964107],
       [-1.50626006, -1.23760194, -0.57382672, ..., -0.28872895,
        -0.13870429, -0.25964107],
       [-0.23049765,  1.01496562,  0.97378032, ..., -0.28872895,
        -0.13870429, -0.25964107],
       ...,
       [ 1.44241516,  0.23238346, -0.57382672, ...,  1.37953713,
        -1.36527477, -0.25964107],
       [ 0.81008074, -0.09545501,  0.97378032, ..., -0.28872895,
        -0.13870429, -0.25964107],
       [ 1.114045  ,  0.62367454, -0.57382672, ..., -0.28872895,
         1.08786619,  0.98524841]])

In [40]:
x_test_std = sc.fit_transform(x_test)

In [41]:
x_test_std

array([[ 1.43091611,  0.07401316, -0.56892467, ..., -0.26815662,
         1.1067281 ,  1.07886076],
       [ 0.74025784,  0.84243117, -0.56892467, ..., -1.92470387,
         1.1067281 , -0.22387125],
       [ 0.36107291, -1.08872462,  0.99561817, ...,  1.38839063,
        -1.38596862, -0.22387125],
       ...,
       [ 1.41963084,  0.59977285, -0.56892467, ..., -0.26815662,
         1.1067281 , -1.52660325],
       [ 1.26840828,  0.7514343 , -0.56892467, ..., -0.26815662,
         1.1067281 ,  1.07886076],
       [ 0.39267165, -2.2211301 ,  0.99561817, ..., -0.26815662,
        -0.13962026, -0.22387125]])

In [42]:
y_test

8179     801
8355    2056
3411    1529
7089     779
6954    1858
        ...
1317    1386
4996     808
531      356
3891    1144
6629    1839
Name: Item_Outlet_Sales, Length: 1705, dtype: int64

In [43]:
# model building

In [44]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [45]:
lr.fit(x_train_std,y_train)

LinearRegression()

In [46]:
y_pred_lr = lr.predict(x_test_std)

In [47]:
from sklearn.metrics import r2_score, mean_absolute_error,mean_squared_error

In [48]:
print(r2_score(y_test,y_pred_lr))
print(mean_absolute_error(y_test,y_pred_lr))
print(np.sqrt(mean_squared_error(y_test,y_pred_lr)))

0.5496558188324314
486.96400317053224
610.6858747012827