In [69]:
import pandas as pd

In [70]:
df = pd.read_csv(r'C:\Users\DELL\Downloads\StudentsPerformance.csv')

In [71]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

# 1. Find out how many males and females participated in the test.

In [72]:
df['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

# 2. What do you think about the students' parental level of education?

In [73]:
df['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

# 3. Who scores the most on average for math, reading and writing based on a) Gender b)Test preparation course

# Average for math, reading and writing based on Gender

In [74]:
# Who scores the most on average for math based on Gender
df.groupby('gender')['math score'].mean()

gender
female    63.376448
male      68.821577
Name: math score, dtype: float64

In [75]:
# Who scores the most on average for reading based on Gender
df.groupby('gender')['reading score'].mean()

gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64

In [76]:
# Who scores the most on average for writing based on Gender
df.groupby('gender')['writing score'].mean()

gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64

# Average for math, reading and writing based on Test preparation course

In [77]:
# Who scores the most on average for math based on Test preparation course
df.groupby('test preparation course')['math score'].mean()

test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64

In [78]:
# Who scores the most on average for reading based on Test preparation course
df.groupby('test preparation course')['reading score'].mean()

test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64

In [79]:
# Who scores the most on average for writing based on Test preparation course
df.groupby('test preparation course')['writing score'].mean()

test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64

# 4. What do you think about the scoring variation for math, reading and writing based on a) Gender b)Test preparation course

# Scoring variation for math, reading and writing based on Gender

In [80]:
# Scoring variation for math score based on Gender
df.groupby('gender')['math score'].var()

gender
female    256.958593
male      211.889097
Name: math score, dtype: float64

In [81]:
# Scoring variation for reading score based on Gender
df.groupby('gender')['writing score'].var()

gender
female    220.369327
male      202.413924
Name: writing score, dtype: float64

In [82]:
# Scoring variation for writing based on Gender
df.groupby('gender')['reading score'].var()

gender
female    207.677438
male      200.211010
Name: reading score, dtype: float64

# scoring variation for math, reading and writing based on Test preparation course

In [83]:
# scoring variation for math based on Test preparation course
df.groupby('test preparation course')['math score'].var()

test preparation course
completed    210.884027
none         246.668662
Name: math score, dtype: float64

In [84]:
# scoring variation for reading based on Test preparation course
df.groupby('test preparation course')['reading score'].var()

test preparation course
completed    183.265864
none         213.419851
Name: reading score, dtype: float64

In [85]:
# scoring variation for writing based on Test preparation course
df.groupby('test preparation course')['writing score'].var()

test preparation course
completed    175.202612
none         226.251739
Name: writing score, dtype: float64

# 5. The management needs your help to give bonus points to the top 25% of students based on their math score, so how will you help the management to achieve this.

In [68]:
q75 = df['math score'].quantile(q=0.75)
df[df['math score'].ge(q75)]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
414,female,group A,high school,free/reduced,completed,77,88,85
415,female,group B,master's degree,free/reduced,completed,77,97,94
416,female,group B,bachelor's degree,free/reduced,none,77,85,87
417,female,group B,master's degree,standard,none,77,90,84
418,female,group B,high school,standard,completed,77,82,89
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100